


        
        <style>
           #question{
            position:fixed;
            bottom: 0px;
            width: 100%;
         
           }
           .even-color {
            background-color: rgb(234, 234, 245); 
           }
           .margin-start{
                margin-left:25%;
            }

    .margin-end {
        margin-right: 25%;
    }

    .message{
        border: 3px solid rgba(20, 10, 20, 0.3);

        border-radius: 20px;
    }

        </style>



@*        <div class="container">
*@
            <div id="conversation"></div>
            
      @*  </div>*@
        <div class="d-flex justify-content-center">

        <div id="question" class=" w-75 bg-dark p-5">
            <div id="" class="d-flex flex-column justify-content-center align-items-center mr-5">
                <textarea id="text-input"  class="form-control w-75 border border-5" placeholder="Napiš otázku..."></textarea>
                
                <div class="mb-3">
                    <input type="button" value="Odeslat" class="btn btn-info mt-2">
                </div>
            </div>
        </div>
        </div>



            

        <script type=""  src="/js/chat.js" ></script>

    
    





