@{
    ViewData["Title"] = "Portfolio Manager Chat";
}

<link rel="stylesheet" href="/css/chat.css" />



<div id="conversation">

    <div id="chat-image-div" class="d-flex justify-content-center flex-column align-items-center">
     <div class="description mb-3">
        <p class="fw-bold mt-3 text-center mx-3 text-primary display-6 mb-4">Investujte s umělou inteligencí: Váš osobní chatovací poradce.</p>
   </div>
  <img src="/img/chat.png" class="img-fluid chat-image" style="max-width:250px" />
    </div>

</div>

<div id="white-space"></div>



<div class="d-flex justify-content-center bg-light">

    <div id="question" class="bg-white p-4 rounded">
        <div id="" class="d-flex flex-column justify-content-center align-items-center">
            <textarea id="text-input" rows="3" class="form-control  border border-5 p-2"
                      placeholder="Napiš otázku..."></textarea>

            <div class="">
                <input type="button" value="Odeslat" class="btn btn-info mt-3">
            </div>
        </div>
    </div>
</div>




@section Scripts {
<script type="" src="/js/chat.js"></script>
}








