<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Tomáš Sobota www.tsobota.cz">
    <meta name="keywords"
          content="Tomáš Sobota, Investice, Portfolio, Kryptoměny, ChatGpt, C#, CSharp, ASP.NET, ADO.NET, LINQ, Swagger, Rest Api, Entity Framework, MS-SQL HTML, CSS, Bootstrap, Javascript, Git, Github, Visual studio, Visual studio code, Programování">
    <meta name="description" content="Program na správu investičního portfoila, autor Tomáš Sobota">
    <meta property="og:title" content="PortfolioManager by Tommáš Sobota">
    <meta property="og:description" content="Program na správu investičního portfoila, autor Tomáš Sobota">
    <meta property="og:image" content="https://tsobota.cz/img/Projects/asp_pm_1.png"
    <meta property="og:url" content="http://portfoliomanager.aspifyhost.cz">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/PortfolioManager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <title>@ViewData["Title"] - PortfolioManager</title>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3 w-100 bg-dark">
            <div class="container-fluid bg-dark text-light d-flex justify-content-end p-3 p-md-0">
                <div>

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                   <img src="/img/logo.png" class="img-fluid img-logo" style="max-height:75px" /> 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 text-center">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Úvod</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/swagger">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Chat" asp-action="Index">Chat</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
        
                <a class="text-dark text-decoration-none"  target="_blank" href="http://www.tsobota.cz">
                <span class="text-muted">&copy;Design and code by Tomas Sobota</span>
            </a>
         
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
