@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav text-center">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
    </li>
    <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-light">Odhlásit</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Registrace</a>
    </li>
    <li class="nav-item">
           <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Přihlášení</a>
    </li>
}
</ul>
