@{
	ViewData["Title"] = "Portfolio Manager";
}

<link rel="stylesheet" href="./css/style.css">



<div class="container">
	<div class="row">

		<section class="mt-5 mb-2 text-center col-12">
			<h1 class="text-primary display-1 fw-bolder mb-3 mb-md-1">Portfolio Manager</h1>
			<p class="display-6">Přehledně a srozumitelně o vašich penězích a investicích.</p>
		</section>

		<section class="my-5 text-center col-12">
			<div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3">
				<div class="price-box d-flex justify-content-center align-items-center">
					<img src="~/img/bitcoin.svg" class="img-fluid me-3 price-icon-1" />
					<span id="bitcoin">---</span>
				</div>
				<div class="price-box d-flex justify-content-center align-items-center">
					<img src="~/img/medley.png" class="img-fluid me-3 price-icon-2" />
					<span id="lithium">---</span>
				</div>
				<div class="price-box d-flex justify-content-center align-items-center">
					<img src="~/img/gold.png" class="img-fluid me-3 price-icon-3" />
					<span id="gold">1942 USD</span>
				</div>
				<div class="price-box d-flex justify-content-center align-items-center">
					<img src="~/img/dollar.png" class="img-fluid me-3 price-icon-4" />
					<span id="dollar">@*@ViewBag.PriceUSD CZK*@</span>
				</div>
			</div>
		</section>



		<section class="d-flex flex-column-reverse flex-md-row justify-content-center align-items-center
             justify-content-md-around my-5 bg-info bg-opacity-25 rounded rounded-5 section">

			<div class="d-flex flex-column justify-content-center align-items-center mx-5">
				<p class="h5 p-2 py-md-0"> Sledujte, rozhodujte, investujte s jistotou.</p>
				<p class="p-2 py-md-0 mt-md-3 mb-md-5">Naše platforma Portfolio Manager vám poskytne všechny klíčové informace o vašich investicích na jednom snadno dostupném místě.   </p>
				<div class="btn btn-info mb-3 button">
					<a href="/portfolio/" class="text-decoration-none text-light">Vytvořit portfolio</a>
				</div>
			</div>


			<div>
				<img src="./img/investment.gif" class="img-fluid img-title" alt="">
			</div>

		</section>

		<section class="d-flex flex-column flex-md-row justify-content-md-around justify-content-center
             align-items-center bg-secondary bg-opacity-25 my-5 rounded rounded-5 section">

			<div>
				<img src="./img/api.gif" class="img-fluid img-title" alt="">
			</div>

			<div class="d-flex flex-column justify-content-center align-items-center mx-5 my-5">
				<p class="h5 p-2 py-md-0">Aktuální ceny kryptoměn na dosah ruky.</p>
				<p class="py-md-0 mt-md-3 mb-md-5">S API od Portfolio Managera můžete integrovat aktuální data o cenách kryptoměn přímo do vašich aplikací a webových stránek. </p>
				<div class="btn btn-secondary mb-3 button">
					<a href="/swagger/index.html" class="text-decoration-none text-light">Vyzkoušet API</a>
				</div>
			</div>

		</section>

		<section class="d-flex flex-column-reverse flex-md-row justify-content-center align-items-center
             justify-content-md-around rounded rounded-5 my-5 bg-warning bg-opacity-25 section">

			<div class="d-flex flex-column justify-content-center align-items-center mx-5 my-5">
				<p class="h5 p-2 py-md-0">Registrujte se a propojte se se svým investičním potenciálem.</p>
				<p class="py-md-0 mt-md-3 mb-md-5">Registrací otevíráte dveře k informacím a nástrojům pro úspěšné investování. </p>
				<div class="btn btn-warning mb-3 button">
					<a asp-controller="Account" asp-action="Register" class="text-decoration-none text-light">Registrace</a>
				</div>
			</div>

			<div class="bg-white text-center">
				<img src="./img/sign.gif" class="img-fluid img-title-2" loading="lazy" alt="">
			</div>

		</section>

		<section class="d-flex flex-column flex-md-row justify-content-md-around justify-content-center
            align-items-center bg-opacity-25 bg-success my-5 rounded rounded-5 section">

			<div>
				<img src="./img/chat.gif" class="img-fluid img-title" loading="lazy" alt="">
			</div>

			<div class="d-flex p-2 flex-column justify-content-center align-items-center mx-5">
				<p class="h5 p-2 py-md-0">Komunikujte o vašem portfoliu s ChatGPT</p>
				<p class="py-md-0 mt-md-3 mb-md-5">Sledujte, analyzujte, investujte - s interaktivním chatbotem na cestě k finančnímu úspěchu.  </p>
				<div class="btn btn-success mb-3 button">
					<a href="" class="text-decoration-none text-light">Chatovat</a>
				</div>
			</div>

		</section>

	</div>

</div>

@section Scripts {
	@{
		<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
		<script src="~/js/crypto.js"></script>
	}
}
